artifacts/wsdl/itinerary.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.second.webservice.kth.se/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://service.second.webservice.kth.se/" name="ItineraryService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://service.second.webservice.kth.se/"
                        schemaLocation="http://localhost:9091/itinerary?xsd=1"></xsd:import>
        </xsd:schema>
    </types>
    <message name="getAvailableItineraries">
        <part name="parameters" element="tns:getAvailableItineraries"></part>
    </message>
    <message name="getAvailableItinerariesResponse">
        <part name="parameters" element="tns:getAvailableItinerariesResponse"></part>
    </message>
    <message name="getAirportById">
        <part name="parameters" element="tns:getAirportById"></part>
    </message>
    <message name="getAirportByIdResponse">
        <part name="parameters" element="tns:getAirportByIdResponse"></part>
    </message>
    <message name="getAirlineById">
        <part name="parameters" element="tns:getAirlineById"></part>
    </message>
    <message name="getAirlineByIdResponse">
        <part name="parameters" element="tns:getAirlineByIdResponse"></part>
    </message>
    <message name="getDeparturesFromRoute">
        <part name="parameters" element="tns:getDeparturesFromRoute"></part>
    </message>
    <message name="getDeparturesFromRouteResponse">
        <part name="parameters" element="tns:getDeparturesFromRouteResponse"></part>
    </message>
    <portType name="Itinerary">
        <operation name="getAvailableItineraries">
            <input wsam:Action="http://service.second.webservice.kth.se/Itinerary/getAvailableItinerariesRequest"
                   message="tns:getAvailableItineraries"></input>
            <output wsam:Action="http://service.second.webservice.kth.se/Itinerary/getAvailableItinerariesResponse"
                    message="tns:getAvailableItinerariesResponse"></output>
        </operation>
        <operation name="getAirportById">
            <input wsam:Action="http://service.second.webservice.kth.se/Itinerary/getAirportByIdRequest"
                   message="tns:getAirportById"></input>
            <output wsam:Action="http://service.second.webservice.kth.se/Itinerary/getAirportByIdResponse"
                    message="tns:getAirportByIdResponse"></output>
        </operation>
        <operation name="getAirlineById">
            <input wsam:Action="http://service.second.webservice.kth.se/Itinerary/getAirlineByIdRequest"
                   message="tns:getAirlineById"></input>
            <output wsam:Action="http://service.second.webservice.kth.se/Itinerary/getAirlineByIdResponse"
                    message="tns:getAirlineByIdResponse"></output>
        </operation>
        <operation name="getDeparturesFromRoute">
            <input wsam:Action="http://service.second.webservice.kth.se/Itinerary/getDeparturesFromRouteRequest"
                   message="tns:getDeparturesFromRoute"></input>
            <output wsam:Action="http://service.second.webservice.kth.se/Itinerary/getDeparturesFromRouteResponse"
                    message="tns:getDeparturesFromRouteResponse"></output>
        </operation>
    </portType>
    <binding name="ItineraryPortBinding" type="tns:Itinerary">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="getAvailableItineraries">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getAirportById">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getAirlineById">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getDeparturesFromRoute">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="ItineraryService">
        <port name="ItineraryPort" binding="tns:ItineraryPortBinding">
            <soap:address location="http://localhost:9091/itinerary"></soap:address>
        </port>
    </service>
</definitions>